mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 10px;
}



.example-spacer {
  flex: 1 1 auto;
}

.image{
    height: 200%;
    background-image:url('../app/images/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
