NGO/NGO/__pycache__/__init__.cpython-39.pyc
NGO/NGO/__pycache__/settings.cpython-39.pyc
NGO/NGO/__pycache__/urls.cpython-39.pyc
NGO/authentication/__pycache__/__init__.cpython-39.pyc
NGO/authentication/__pycache__/admin.cpython-39.pyc
NGO/authentication/__pycache__/apps.cpython-39.pyc
NGO/authentication/__pycache__/models.cpython-39.pyc
NGO/authentication/migrations/__pycache__/__init__.cpython-39.pyc
NGO/donation/__pycache__/__init__.cpython-39.pyc
NGO/donation/__pycache__/admin.cpython-39.pyc
NGO/donation/__pycache__/apps.cpython-39.pyc
NGO/donation/__pycache__/models.cpython-39.pyc
NGO/donation/migrations/__pycache__/0001_initial.cpython-39.pyc
NGO/donation/migrations/__pycache__/__init__.cpython-39.pyc
NGO/myvenv/Lib/site-packages/pip/__pycache__/__init__.cpython-39.pyc
NGO/myvenv/Lib/site-packages/pip/__pycache__/__main__.cpython-39.pyc
NGO/myvenv/Lib/site-packages/pip/_internal/__pycache__/__init__.cpython-39.pyc