<div class="container-fluid">
    <br>
      <h2>Donation</h2>
      <mat-card>
        <form #typeAmountForm="ngForm" (ngSubmit)="onSubmit(typeAmountForm)" novalidate>

          <div class="form-group" *ngIf="numOfType > 0">
            <label>{{typeList[0].type }} $</label>
            <input type="text" #amountA="ngModel" required pattern="^[0-9]+$" class="form-control" name="amountA" [(ngModel)]="amountDict[typeList[0].type]"
            [class.is-invalid]="amountA.invalid && amountA.touched">
            <div *ngIf="amountA.touched && amountA.errors">
              <div class="alert alert-danger" *ngIf="amountA.errors.required">amount is required</div>
              <div class="alert alert-danger" *ngIf="amountA.errors.minlength">amount should be Numbers</div>
            </div>
            <input type="checkbox" class="form-control" name="TypeACheck" [(ngModel)]="typeDict[typeList[0].type]">
          </div>

          <div class="form-group" *ngIf="numOfType > 1">
            <label>{{typeList[1].type}} $</label>
            <input type="text" #amountB="ngModel" required pattern="^[0-9]+$" class="form-control" name="amountB" [(ngModel)]="amountDict[typeList[1].type]"
            [class.is-invalid]="amountB.invalid && amountB.touched">
            <div *ngIf="amountB.touched && amountB.errors">
              <div class="alert alert-danger" *ngIf="amountB.errors.required">amount is required</div>
              <div class="alert alert-danger" *ngIf="amountB.errors.minlength">amount should be Numbers</div>
            </div>
            <input type="checkbox" class="form-control" name="TypeBCheck" [(ngModel)]="typeDict[typeList[1].type]">
          </div>

          <div class="form-group" *ngIf="numOfType > 2">
            <label>{{typeList[2].type}} $</label>
            <input type="text" #amountC="ngModel" required pattern="^[0-9]+$" class="form-control" name="amountC" [(ngModel)]="amountDict[typeList[2].type]"
            [class.is-invalid]="amountC.invalid && amountC.touched">
            <div *ngIf="amountC.touched && amountC.errors">
              <div class="alert alert-danger" *ngIf="amountC.errors.required">amount is required</div>
              <div class="alert alert-danger" *ngIf="amountC.errors.minlength">amount should be Numbers</div>
            </div>
            <input type="checkbox" class="form-control" name="TypeBCheck" [(ngModel)]="typeDict[typeList[2].type]">

          </div>

          <div class="form-group" *ngIf="numOfType > 3">
            <label>{{typeList[3].type}} $</label>
            <input type="text" #amountD="ngModel" required pattern="^[0-9]+$" class="form-control" name="amountD" [(ngModel)]="amountDict[typeList[3].type]"
            [class.is-invalid]="amountD.invalid && amountD.touched">
            <div *ngIf="amountD.touched && amountD.errors">
              <div class="alert alert-danger" *ngIf="amountD.errors.required">amount is required</div>
              <div class="alert alert-danger" *ngIf="amountD.errors.minlength">amount should be Numbers</div>
            </div>
            <input type="checkbox" class="form-control" name="TypeBCheck" [(ngModel)]="typeDict[typeList[3].type]">
          </div>

          <!-- <button class="btn btn-primary" [disabled]="empForm.form.invalid" type="submit">Submit form</button> -->
          <button mat-flat-button color="accent" [routerLink]="''">Cancel</button>
          <button mat-flat-button color="accent">Submit form</button>
        </form>
    </mat-card>
    <br>
</div>
<!--p>Amount: {{amountDict['TypeA']}}, {{typeDict['Type A']}}</p-->
