    <div id="app">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="" class="navbar-brand">NGO Project</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Home </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/usermanagement" class="nav-link" routerLink="/usermanagement">User Management</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/confirmDonation" class="nav-link" routerLink="/confirmDonation">Donation Management</a>
          </li>
          <li class="nav-item">
            <a href="/donationtype" class="nav-link" *ngIf="isLoggedIn" routerLink="/donationtype">Make a Donation</a>
          </li>
          <li class="nav-item">
            <a href="/shoppingCart" class="nav-link" *ngIf="isLoggedIn" routerLink="/shoppingCart">Shopping Cart</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/registration" class="nav-link" routerLink="registration">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </nav>
    
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>