<div class="container">
    
        <h1>NGO Project - Donation</h1>
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>A web application for users to signup and submit donation.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Completed by <cite title="Source Title">Xiaohui Xie, Chihin Lao</cite>, Jyly 2021
            </figcaption>
          </figure>
<br><br>
          <div class="row">
    <dl class="row">  
      <div class="col-sm-7">
        <h3>Functionalities</h3>
        <br>
        <p><b>USER:</b> Signup/Login, Submit Donation, Personal Profile</p>
        <p><b>ADMIN:</b> Basic user functionalities + users management with CRUD, </p>
        <p>&nbsp;&nbsp;&nbsp;donation management</p>
      </div>

      <div class="col-sm-5">
        <h3>Technologies</h3>
        <br>
        <p><b>BACKEND:</b> Django 3.2.5 && Django restframework 3.12.4</p>
        <p><b>FRONTEND:</b> Angular 12.1.2</p>
        <p><b>DATABASE:</b> MySQL 8.0.25 & AWS RDS</p>
        <p><b>Authentication:</b> Django restframework JWT</p>
      </div>
    </dl>
    </div>
</div>