<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="first_name">first Name</label>
            <input
              type="text"
              class="form-control"
              name="first_name"
              [(ngModel)]="form.first_name"
              required
              minlength="3"
              maxlength="20"
              #first_name="ngModel"
            />
            <div class="alert-danger" *ngIf="first_name.errors && f.submitted">
              <div *ngIf="first_name.errors.required">first_name is required</div>
              <div *ngIf="first_name.errors.minlength">
                first_name must be at least 3 characters
              </div>
              <div *ngIf="first_name.errors.maxlength">
                first_name must be at most 20 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="last_name"
              [(ngModel)]="form.last_name"
              required
              minlength="3"
              maxlength="20"
              #last_name="ngModel"
            />
            <div class="alert-danger" *ngIf="last_name.errors && f.submitted">
              <div *ngIf="last_name.errors.required">last Name is required</div>
              <div *ngIf="last_name.errors.minlength">
                last Name must be at least 3 characters
              </div>
              <div *ngIf="last_name.errors.maxlength">
                last Name must be at most 20 characters
              </div>
            </div>
          </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
          <button (click)='goBack()' class="btn btn-link" >Go Back</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          User create failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        User created successful!
      </div>
    </div>
  </div>